/* =========================================================
   BASIC CSS
   ========================================================= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: Arial, sans-serif;
  color: #191b22;
}

body {
  background-color: #ffffff;
  line-height: 1.5;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

/* =========================================================
   COMMON
   ========================================================= */

.container {
  width: 100%;
  padding: 0 15px;
  margin: auto;
}

.section-title {
  text-align: center;
}

.section-title h2 {
  font-size: 22px;
  line-height: 25px;
  margin-bottom: 12px;
}

.section-title p {
  font-size: 14px;
  color: rgba(10, 37, 64, 0.7);
  line-height: 24px;
  font-weight: 500;
}

.button {
  display: inline-block;
  background-color: #e5edfa;
  color: #1569fd;
  padding: 10px 20px;
  border-radius: 25px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 600;
  font-family: sans-serif;
}

/* =========================================================
   HEADER
   ========================================================= */

.header {
  background-color: white;
}

.top-offer {
  background-color: #071c3d;
  color: white;
  text-align: center;
  padding: 5px 10px;
}

.top-offer p {
  font-size: 9px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 15px;
}

.company-logo img {
  width: 125px;
  height: auto;
}

.menu {
  position: relative;
}

.menu button {
  border: none;
  background-color: #1569fd;
  color: white;
  width: 38px;
  height: 38px;
  border-radius: 8px;
  cursor: pointer;
}

.menu button i {
  font-size: 17px;
}

.menu ul {
  display: none;
}

/* =========================================================
   HERO
   ========================================================= */

.hero {
  background: linear-gradient(120deg, #ffb1bf, #fce9b5);

  padding: 40px 15px 50px;

  overflow: hidden;
}

.hero-container {
  width: 100%;
}

.hero-content {
  text-align: center;
}

.hero-content h1 {
  font-size: 28px;
  line-height: 1.08;
  color: #071c3d;
  margin-bottom: 30px;
}

.hero-image {
  width: 100%;
}

.hero-image img {
  width: 100%;
  border-radius: 8px;
}

/* =========================================================
   CLIENTS
   ========================================================= */

.clients {
  padding: 40px 0;
  background-color: white;
}

.small-heading {
  text-align: center;
  font-size: 12px;
  color: black;
  font-weight: 500;
  margin-bottom: 50px;
}

.client-logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.client-logo {
  flex: 1;
  text-align: center;
}

.client-logo span {
  font-size: 10px;
  color: #777;
}

/* =========================================================
   SERVICES
   ========================================================= */

.services {
  padding: 40px 0 55px;
}

.services .section-title {
  margin-bottom: 30px;
}

.service-container {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.service-card {
  width: 100%;
  min-height: 190px;
  border: 1px solid #e4e4e4;
  padding: 50px 43px 50px 30px;
  background-color: white;
}

.service-icon {
  width: 50px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 35px;

  color: #1569fd;
}

.service-icon i {
  font-size: 22px;
}

.service-card h5 {
  font-size: 18px;
  line-height: 1.25;
  margin-bottom: 30px 0 15px;
}

.service-card p {
  color: #777;
  font-size: 15px;
  line-height: 1.5;
  margin-top: 40px;
}

/* =========================================================
   FEATURES
   ========================================================= */

.features {
  background: linear-gradient(120deg, #ffe5e5, #fff0c5);

  padding: 45px 0 55px;
}

.feature-heading {
  margin-bottom: 25px;
}

.features .container {
}

.feature-heading h2 {
  text-align: center;
  font-size: 25px;
  line-height: 1.1;
  margin-bottom: 20px;
}

.feature-heading p {
  font-size: 14px;
  text-align: center;
  color: #777;
}

.feature-images {
  display: flex;
  margin-left: -15px;
  gap: 10px;
  overflow: hidden;
}

/* =========================================================
   ABOUT
   ========================================================= */

.about {
  padding: 55px 0;
}

.about-block {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 20px;
}

.about-content {
  padding: 0 12px;
}

.about-points p {
  font-size: 15px;
  font-weight: 700;
}
.about-content h2 {
  font-size: 22px;
  line-height: 1.1;
  margin-bottom: 15px;
}

.about-content p {
  color: #777;
  font-size: 13px;
  line-height: 22px;
  font-weight: 500;
  margin-bottom: 20px;
}

.point {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 12px;
}

.point span {
  width: 25px;
  height: 25px;

  border: 1px solid #ddd;

  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 15px;
  font-weight: 700;
}

.point p {
  margin: 0;
  font-size: 15px;
  font-weight: 700;
  color: black;
}

/* =========================================================
   PRICING
   ========================================================= */

.pricing {
  padding: 55px 0;

  background: linear-gradient(120deg, #e5ffff, #e9e6ff);
}

.pricing .section-title {
  margin-bottom: 30px;
}

.pricing-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.price-card {
  background-color: white;

  border: 1px solid #ddd;

  border-radius: 8px;

  padding: 20px;

  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.04);
}

.price-card h3 {
  font-size: 17px;
  margin-bottom: 8px;
}

.price-description {
  color: #777;
  font-size: 14px;
  margin-bottom: 18px;
}

.price-card h4 {
  font-size: 25px;
  margin-bottom: 18px;
}

.price-card h4 span {
  font-size: 13px;
  color: #777;
  font-weight: normal;
}

.price-card ul {
  margin-bottom: 20px;
}

.price-card li {
  display: flex;
  align-items: center;
  gap: 8px;

  font-size: 14px;

  margin-bottom: 10px;
}

.price-card li i {
  color: #1569fd;
}

.price-card li.disabled {
  color: #aaa;
}

.price-card li.disabled i {
  color: #aaa;
}

.price-button {
  display: block;

  text-align: center;

  background-color: #f1f1f1;

  padding: 9px;

  border-radius: 20px;

  font-size: 15px;
  font-weight: bold;
}

/* =========================================================
   TESTIMONIAL
   ========================================================= */

.testimonial {
  padding: 40px 0;
}

.testimonial .section-title {
  margin-bottom: 30px;
}

.testimonial-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.testimonial-image {
  width: 100%;
}

.person-placeholder img {
  border-radius: 15px;
  margin-bottom: 20px;
}

.review-card {
  flex: 1;

  background-color: #f5f5f5;

  border: 1px solid #ddd;

  border-radius: 8px;

  padding: 15px;
  margin-bottom: 30px;
}

.stars {
  font-size: 20px;
  color: #f8b00d;
  margin-bottom: 8px;
}

.review-card p {
  font-size: 14px;
  color: #777;
  margin-bottom: 20px;
}

.review-card-content {
  display: flex;
  align-items: center;
  gap: 12px;
}
.review-card-content img {
  width: 35px;
  height: 35px;
}

.review-card h6 {
  font-size: 14px;
}

.bottom-text {
  display: block;
  margin-top: 8px;
}

/* =========================================================
   FAQ
   ========================================================= */

.faq {
  padding: 40px 0;
}

.faq-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.faq-title {
  padding: 0 15px;
}
.faq-title h2 {
  font-size: 25px;
  line-height: 1.1;
  margin-bottom: 15px;
}

.faq-title p {
  font-size: 14px;
  color: #777;
  margin-bottom: 30px;
}
.faq-title a {
  display: inline-block;
  background-color: #1569fd;
  color: white;
  padding: 10px 20px;
  border-radius: 25px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 600;
  font-family: sans-serif;
}

.faq-list details {
  border-bottom: 1px solid #ddd;
  padding: 15px 0;
}

.faq-list summary {
  display: flex;
  justify-content: space-between;

  cursor: pointer;

  font-size: 16px;
  font-weight: bold;
}

.faq-list summary i {
  font-size: 9px;
}

.faq-list details p {
  color: #777;
  font-size: 12px;
  margin-top: 10px;
}

/* =========================================================
   BLOG
   ========================================================= */

.blog {
  padding: 55px 0;

  background: linear-gradient(120deg, #fff0e9, #ffe8ff);
}

.blog .section-title {
  margin-bottom: 30px;
}

.blog-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  overflow: hidden;
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.15);
}

.blog-card {
  padding: 6px;
  background-color: white;
  border-radius: 8px;
  border: 1px solid #ebebeb;
}

.blog-image {
  width: 100%;
}

.blog-image img {
  border-radius: 8px;
}
.blog-content {
  padding: 15px;
  display: block;
}

.blog-content span {
  font-size: 14px;
  color: #6c7c8c;
  font-weight: bold;
}

.blog-content small {
  font-size: 14px;
  color: #6c7c8c;
  margin-left: 8px;
  font-weight: bold;
}

.blog-content h3 {
  font-size: 16px;
  margin: 8px 0;
  font-weight: 600;
  font-family: sans-serif;
}

.blog-content p {
  font-size: 14px;
  color: #6c7c8c;
  margin-bottom: 12px;
  font-weight: 500;
  line-height: 22px;
}

.blog-content a {
  font-size: 16px;
  color: black;
  font-weight: 600;
  font-family: sans-serif;
}

/* =========================================================
   FOOTER
   ========================================================= */

.footer {
  padding: 45px 0 0;
  background-color: white;
}

.footer-about {
  display: flex;
  flex-direction: column;
  align-content: center;
}
.footer-about img {
  align-self: center;
  width: 150px;
  margin-bottom: 15px;
}

.footer-about p {
  text-align: center;
  font-size: 14px;
  color: #777;
  margin: 20px 0 30px 0;
  line-height: 26px;
  font-weight: 500;
}

.social-media {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.social-media i {
  font-size: 30px;
  margin-bottom: 40px;
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-bottom: 30px;
}

.footer-links div {
  display: flex;
  flex-direction: column;
}

.footer h4 {
  text-align: center;
  font-size: 17px;
  margin-bottom: 20px;
  font-weight: 700;
}

.footer-links a {
  text-align: center;
  font-size: 14px;
  color: #777;
  margin-bottom: 8px;
  font-weight: 500;
  line-height: 21px;
}

.newsletter {
  margin-bottom: 30px;
}
.newsletter h3 {
  text-align: center;
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 20px;
}

.newsletter p {
  text-align: center;

  font-size: 14px;
  color: #777;
  margin-bottom: 20px;
  font-weight: 500;
  line-height: 21px;
}

.newsletter-form {
  display: flex;
  border-radius: 10px;
}

.newsletter-form input {
  width: 65%;

  border: 1px solid #ddd;

  padding: 9px;

  font-size: 10px;
}

.newsletter-form button {
  width: 35%;
  padding: 12px;
  border: none;
  background-color: #1569fd;
  color: white;
  font-size: 9px;
  cursor: pointer;
}

.copyright {
  border-top: 1px solid #eee;

  background-color: #f3f5f6;

  padding: 15px;

  text-align: center;
}

.copyright p {
  line-height: 21px;
  font-weight: 500;
  font-size: 14px;
  color: #777;
}

/* =========================================================
   TABLET
   768px AND ABOVE
   ========================================================= */

@media (min-width: 768px) {
  .container {
    max-width: 720px;
    padding: 0;
  }

  /* Header */

  .header-container {
    padding: 18px 25px;
  }

  .company-logo img {
    width: 145px;
  }

  .menu button {
    width: 42px;
    height: 42px;
  }

  /* Hero */

  .hero {
    padding: 60px 30px 70px;
  }

  .hero-content h1 {
    font-size: 42px;
    margin-bottom: 40px;
  }

  .hero-image img {
    border-radius: 12px;
  }

  /* Clients */

  .clients {
    padding: 55px;
  }

  .small-heading {
    font-size: 20px;
    margin-bottom: 70px;
  }

  .client-logo span {
    font-size: 14px;
  }

  /* Services */

  .services {
    padding: 60px 0 75px;
  }

  .section-title h2 {
    font-size: 34px;
    line-height: 42px;
  }

  .service-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  .service-card {
    width: calc(50% - 10px);
    min-height: 230px;
    padding: 25px 20px;
  }

  .service-icon {
    width: 45px;
    height: 45px;
    margin-bottom: 20px;
  }

  .service-icon i {
    font-size: 28px;
  }

  .service-card h3 {
    font-size: 17px;
  }

  .service-card p {
    font-size: 16px;
  }

  /* Features */

  .features {
    padding: 65px 0 75px;
  }

  .feature-heading h2 {
    font-size: 34px;
    line-height: 42px;
  }

  .feature-heading p {
    font-size: 14px;
  }

  /* About */

  .about {
    padding: 75px 0;
  }

  .about-block {
    gap: 40px;
    margin-bottom: 90px;
  }

  .about-content h2 {
    font-size: 34px;
  }

  .about-content p {
    font-size: 16px;
  }

  .audience-card {
    width: 65%;
    padding: 30px;
  }

  /* Pricing */

  .pricing {
    padding: 75px 0;
  }

  .pricing-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }

  .price-card {
    width: calc(50% - 10px);
    padding: 25px;
  }

  .price-card:hover {
    border-top: 1px solid #426cff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  .price-card h3 {
    font-size: 20px;
  }

  .price-description {
    font-size: 16px;
  }

  .price-card h4 {
    font-size: 30px;
  }

  /* Testimonial */

  .testimonial {
    padding: 75px 0;
  }

  .testimonial p {
    font-size: 16px;
  }

  .person-placeholder img {
    width: 100%;
  }

  .reviews {
    display: flex;
    gap: 20px;
  }
  .review-card {
    padding: 20px;
  }

  .review-card p {
    font-size: 16px;
  }

  /* FAQ */

  .faq {
    padding: 75px 0;
  }

  .faq-container {
    gap: 40px;
  }

  .faq-title h2 {
    font-size: 34px;
    line-height: 42px;
  }

  .faq-title p {
    font-size: 16px;
  }

  .faq-list summary {
    font-size: 16px;
  }

  .faq-list details p {
    font-size: 16px;
  }

  /* Blog */

  .blog {
    padding: 75px 0;
  }
  .blog-container {
    flex-direction: row;
  }
  .blog-card {
    min-width: 47%;
  }

  .blog-content h3 {
    font-size: 16px;
  }

  .blog-content span {
    font-size: 16px;
  }

  .blog-content small {
    font-size: 16px;
  }

  .blog-content p {
    font-size: 16px;
  }
  /* Footer */

  .footer {
    padding-top: 65px;
  }

  .footer-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
  }

  .footer-about img {
    align-self: center;
    width: 250px;
    margin-bottom: 15px;
  }

  .newsletter-form {
    margin-left: 25%;
    width: 50%;
  }
}

/* =========================================================
   LAPTOP / DESKTOP
   1024px AND ABOVE
   ========================================================= */

@media (min-width: 1024px) {
  .container {
    max-width: 1100px;
  }

  /* Header */

  .top-offer {
    padding: 8px;
  }

  .top-offer p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
  }

  .header-container {
    max-width: 1200px;
    margin: auto;

    padding: 20px 25px;
  }

  .company-logo img {
    width: 205px;
  }

  .menu button {
    display: none;
  }

  .menu ul {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  .menu li {
    display: block;
  }

  .menu li a {
    font-size: 16px;
    font-weight: 500;
    line-height: 23px;
    color: #191b22;
  }

  .menu li a:hover {
    color: #1569fd;
  }

  /* Hero */

  .hero {
    padding: 90px 30 100px;
  }

  .hero-container {
    max-width: 1100px;
    margin: auto;
  }

  .hero-content h1 {
    font-size: 62px;
    line-height: 1.05;
    margin-bottom: 55px;
  }

  .hero-image img {
    border-radius: 15px;
  }

  /* Clients */

  .clients {
    padding: 70px;
  }

  .small-heading {
    font-size: 20px;
    margin-bottom: 80px;
  }

  .client-logo span {
    font-size: 18px;
  }

  /* Services */

  .services {
    padding: 90px 0 110px;
  }

  .section-title h2 {
    font-size: 45px;

    line-height: 52px;
  }

  .service-container {
    flex-wrap: nowrap;
    gap: 20px;
  }

  .service-card {
    width: 25%;
    min-height: 300px;
    padding: 30px 25px;
  }

  .service-icon {
    width: 50px;
    height: 50px;
  }

  .service-icon i {
    font-size: 32px;
  }

  .service-card h5 {
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
  }

  .service-card p {
    font-size: 15px;
    line-height: 1.7;
  }

  /* Features */

  .features {
    padding: 90px 0 110px;
  }

  .feature-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
  }

  .feature-heading h2 {
    font-size: 45px;
  }

  .feature-heading p {
    max-width: 450px;
    font-size: 16px;
  }

  .feature-images {
    display: flex;
    margin-left: -15px;
    gap: 20px;
    overflow: hidden;
  }

  /* About */

  .about {
    padding: 100px 0;
  }

  .about-block {
    flex-direction: row;
    align-items: center;
    gap: 80px;
    margin-bottom: 120px;
  }

  .second-about {
    flex-direction: row-reverse;
  }

  .about-content h2 {
    font-size: 36px;
  }

  .about-content p {
    font-size: 16px;
    max-width: 500px;
    line-height: 24px;
  }

  .audience-card {
    width: 80%;
    padding: 35px;
  }

  /* Pricing */

  .pricing {
    padding: 100px 0;
  }

  .pricing-container {
    flex-wrap: nowrap;
    gap: 20px;
  }

  .price-card {
    width: 25%;
    padding: 30px 25px;
  }

  .price-card h3 {
    font-size: 22px;
  }

  .price-description {
    font-size: 12px;
    min-height: 55px;
  }

  .price-card h4 {
    font-size: 34px;
  }

  .price-card li {
    font-size: 15x;
    line-height: 42px;
    font-weight: 500;
  }

  /* Testimonial */

  .testimonial {
    padding: 100px 0;
  }

  .testimonial-container {
    flex-direction: row;
    align-items: stretch;
    gap: 30px;
  }

  .section-title h2 {
    font-size: 42px;
    font-weight: 700;
    line-height: 44px;
  }

  .section-title p {
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
  }

  .testimonial-image {
    width: 80%;
  }

  .reviews {
    width: 50%;
    gap: 20px;
  }

  .person-placeholder {
    height: 100%;
    min-height: 400px;
  }

  .review-card {
    padding: 30px;
  }

  .review-card p {
    font-size: 13px;
  }

  .review-card strong {
    font-size: 12px;
  }

  /* FAQ */

  .faq {
    padding: 100px 0;
  }

  .faq-container {
    flex-direction: row;
    align-items: flex-start;
    gap: 100px;
  }

  .faq-title {
    width: 40%;
  }

  .faq-list {
    width: 60%;
  }

  .faq-title h2 {
    font-size: 45px;
  }

  .faq-title p {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
  }

  .faq-list details {
    padding: 20px 0;
  }

  .faq-list summary {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
  }

  .faq-list details p {
    font-size: 15px;
    font-weight: 500;
    line-height: 23px;
  }

  /* Blog */

  .blog {
    padding: 100px 0;
  }

  .blog-container {
    gap: 25px;
    overflow: visible;
  }

  .blog-card {
    min-width: 0;
    width: 50%;
  }

  .blog-image img {
    width: 100%;
  }

  .blog-content {
    padding: 25px;
  }

  .blog-content h3 {
    font-size: 20px;
    margin: 30px 0;
  }

  .blog-content p {
    font-size: 16px;
    line-height: 26px;
    margin: 30px 0;
    font-weight: 500;
  }

  /* Footer */

  .footer {
    padding-top: 80px;
  }

  .footer .container {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
  }

  .footer-about {
    width: 30%;
  }

  .footer-about p {
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    text-align: left;
  }

  .footer-links {
    width: 30%;
    margin-bottom: 0;
  }

  .footer-links h4 {
    font-size: 20px;
    line-height: 17px;
    font-weight: 700;
  }

  .footer-links a {
    font-size: 15px;
    line-height: 23px;
    font-weight: 500;
    text-align: left;
  }

  .newsletter {
    width: 30%;
  }

  .newsletter h3 {
    font-size: 20px;
    line-height: 17px;
    font-weight: 700;
    text-align: left;
  }

  .newsletter p {
    font-size: 15px;
    line-height: 23px;
    font-weight: 500;
    text-align: left;

    padding: 40px 0 15px;
  }

  .newsletter-form {
    width: 100%;
    margin-left: 0%;
  }

  .copyright {
    width: 100%;
    margin-top: 30px;
  }
}

/* =========================================================
   LARGE LAPTOP / DESKTOP
   1200px AND ABOVE
   ========================================================= */

@media (min-width: 1200px) {
  .container {
    max-width: 1150px;
  }

  .hero-container {
    max-width: 1150px;
  }

  .hero-content h1 {
    font-size: 70px;
  }

  .service-card {
    min-height: 320px;
  }
}
